.mypage__inner {
    padding: 12em 0;
}
.mylogo {
    text-align: center;
}
.mylogo img {
    width: 250px;
}
.mypage__inner > h2 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.mypage__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4em 0;
}
.info__box {
    padding: 4em 4em 2em 4em;
    width: 400px;
    border: 3px solid #AEDBD6;
    border-radius: 20px;
    text-align: center;
    align-items: center;
}
.info__nick {
    font-size: 25px;
    font-weight: 700;
}
.info__email {
    color: #666;
}
.info__birth {
    color: #666;
}
.info__modify {
    width: 68%;
    padding: 2em;
}
.info__modify h2 {
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 1.4;
    margin-bottom: 20px;
}
.info__modify > div {
    padding: 2em 2em;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.info__modify > div:hover {
    box-shadow: 0px 50px 30px -35px #1a4a322b;
    background: #fff;
    transition: all 1s cubic-bezier(.25,1,.5,1);
    transform: scale(1.05);
}
.info__modify > div::before {
    position: absolute;
    content: '>';
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
/* .img__circle {
    width: 100%;
    background-color: #FFF3D5;
    border-radius: 50%;
} */
.img__circle img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* padding: 2em; */
}
.note__head h2 {
    padding: 0.5em 1em;
    font-size: 2em;
}
.note__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    align-items: center;
}
.note__head a img {
    padding: 0.5em 2em;
    transition: all 0.5s;
}
.note__head a img:hover {
    transform: rotate(360deg);
}
.note__inner {
    padding: 3em 0;
    display: flex;
    justify-content: center;
}
.note__inner > div {
    padding: 0 1em;
    text-align: center;
}
.note__img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}
.note p {
    margin-top: 20px;
    font-size: 20px;
}
.note__img img {
    width: 50%;
    margin-top: 60px;
    transition: all 0.3s;
    cursor: pointer;
}
.note__img img:hover {
    transform: scale(1.3);
    transition: all 0.3s;
}
.reviewnote__img {
    width: 20%;
    padding: 1em 2em;
}
.reviewnote__img.pink {
    background-color: #FFC7D8;
}
.reviewnote__img.yellow {
    background-color: #FFEDBD;
}
.memberBye {
    float: right;
    border-radius: 20px;
    color: var(--color__white);
    padding: 0.4em 1.5em;
    border-radius: 10px;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s ease;
}